@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f2ec;
  --foreground: #0000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f2ec;
    --foreground: #0000000;
  }
}

@font-face {
  font-family: "FunkisA";
  src: url("./fonts/FunkisA\ Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FunkisA";
  src: url("./fonts/FunkisA-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "FunkisA", Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
